/*!
 * project_shg
 *
 *
 * @author Thuclfc
 * @version 2.0.0
 * Copyright 2021. MIT licensed.
 *//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}


b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

a:hover, a:focus {
  text-decoration: none;
}

.page1 .logo:hover, .page1 .diemdanh__btn a:hover, .wheel .spin_button:hover, .wheel__btn a:hover {
  -webkit-filter: saturate(1.6);
  filter: saturate(1.6);
}

img.bg {
  max-width: 100%;
}

a {
  text-decoration: none !important;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_beween {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden_tab {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.hidden_tab > * {
  height: 0;
  overflow: hidden;
  z-index: 0;
  visibility: hidden;
}

.show_tab {
  opacity: 1;
  height: auto;
  z-index: 90;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  visibility: visible;
}

.show_tab > * {
  height: auto;
  z-index: 9;
  visibility: visible;
}

/*popup*/
.popup-giftcode, .popup-video {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-1000px);
     -moz-transform: translateX(-50%) translateY(-1000px);
      -ms-transform: translateX(-50%) translateY(-1000px);
       -o-transform: translateX(-50%) translateY(-1000px);
          transform: translateX(-50%) translateY(-1000px);
  z-index: 999;
}

.open_popup.popup-giftcode, .open_popup.popup-video {
  -webkit-transition: all .4s linear 0s;
  -o-transition: all .4s linear 0s;
  -moz-transition: all .4s linear 0s;
  transition: all .4s linear 0s;
}

.popup-giftcode {
  width: 500px;
  padding: 15px;
  background: #fff;
}

.popup-giftcode h4 {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font: 26px Tahoma;
  color: #179526;
  text-transform: uppercase;
}

.popup-giftcode p {
  display: block;
  text-align: center;
  font: 18px Tahoma;
}

.popup-giftcode p span {
  color: #c00;
}

.popup-video {
  width: 800px;
  height: 460px;
  background: #000;
}

.popup-video iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .popup-video {
    width: 94%;
    height: 60%;
  }
}

@media (orientation: landscape) {
  .popup-video {
    width: 100%;
    height: 100%;
  }
}

.modal-popup {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
}

.modal-popup.open_popup {
  display: block;
}

a.close_popup {
  position: absolute;
  top: 0;
  right: 0;
  background: #c00;
  padding: 4px;
  font-size: 16px;
  color: #fff;
}

.open_popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

footer {
  margin-top: -1px;
  background: #f4f7fc;
  padding: 10px 0;
  color: #000;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

footer .fixCen {
  width: 1000px;
  margin: 0 auto;
}

footer img.limit {
  right: 0;
  top: 0;
  position: absolute;
}

footer a {
  color: #fffc00;
}

footer a.shg {
  display: block;
  background: url(https://sohagame.mediacdn.vn/public/sohagame/logo-shg-w.png) no-repeat 0 0/contain;
  width: 180px;
  height: 78px;
  position: absolute;
  top: 25px;
  left: 0;
}
a{text-decoration: none;}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
       animation-name: fadeIn;
}

@-moz-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@-o-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@-webkit-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

.flash {
  -moz-animation-name: flash;
    -o-animation-name: flash;
       animation-name: flash;
  -webkit-animation-name: flash;
}

@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  from {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  to {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  from {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotate;
     -moz-animation: rotate;
       -o-animation: rotate;
          animation: rotate;
  -webkit-animation-name: rotate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    -moz-transform: scale3d(1.14, 1.14, 1.14);
         transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    -moz-transform: scale3d(1.14, 1.14, 1.14);
         transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
    -o-animation-name: pulse;
       animation-name: pulse;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

:root {
  --TUV-Domaine: TUV-Domaine, sans-serif;
  --UTMAlbertaHeavy: UTMAlbertaHeavy, sans-serif;
}

body {
  background: #000;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-track {
  background: #ccc;
}

html, body {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@font-face {
  font-family: TUV-Domaine;
  src: url("/fonts/TUV-Domaine-Regular.ttf");
}

@font-face {
  font-family: UTMAlbertaHeavy;
  src: url("/fonts/UTMAlbertaHeavy.ttf");
}

img {
  max-width: 100%;
}

a {
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

.logo_limmit {
  width: 7.8125vw;
}

a:hover,a {
  text-decoration: none;
}

main {
  height: 243.4vw;
}

main .bg-main {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page {
  position: relative;
  overflow: hidden;
}

.page1 {
  height: 77.6041666667vw;
}

.page1 h1 {
  display: inline-block;
  margin: 2.0833333333vw 0 0 23.9583333333vw;
}

.page1 .logo {
  display: block;
  width: 18.90625vw;
}

.page1 .video {
  width: 8.8020833333vw;
  height: 6.6666666667vw;
  background: url("/images/landing/traier.png") no-repeat 0 0/contain;
  position: absolute;
  left: 21.6145833333vw;
  top: 43.4375vw;
  -webkit-animation: pulse 1s infinite linear;
     -moz-animation: pulse 1s infinite linear;
       -o-animation: pulse 1s infinite linear;
          animation: pulse 1s infinite linear;
}

.page1 .diemdanh {
  width: 49.8958333333vw;
  height: 14.2708333333vw;
  margin: 46.3541666667vw 0 0 22.2916666667vw;
}

.page1 .diemdanh__btn {
  width: 9.6875vw;
  margin-left: 1.40625vw;
  padding-top: 4.1666666667vw;
}

.page1 .diemdanh__btn a {
  width: 8.8541666667vw;
  height: 3.2291666667vw;
  display: block;
  margin: 0 auto 0.5729166667vw;
  font-size: 0;
}

.page1 .diemdanh__btn .btn_login {
  background: url("/images/landing/btn-login.jpg") no-repeat 0 0/contain;
}

.page1 .diemdanh__btn .btn_rule {
  background: url("/images/landing/btn-rule.jpg") no-repeat 0 0/contain;
}

.page1 .diemdanh__list {
  width: 38.75vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5208333333vw 0.3645833333vw 0;
}

.page1 .diemdanh__list li {
  padding: 0 0.3125vw;
}

.page1 .diemdanh__list li .img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.625vw;
}

.page1 .diemdanh__list li img {
  max-width: 4.375vw;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.page1 .diemdanh__list li:nth-child(1) img {
  max-width: 3.0729166667vw;
}

.page1 .diemdanh__list li:nth-child(2) img {
  max-width: 3.4375vw;
}

.page1 .diemdanh__list li:nth-child(3) img {
  max-width: 3.9583333333vw;
}

.page1 .diemdanh__list .img {
  width: 4.6875vw;
  height: 4.6875vw;
  background: url("/images/landing/bg-item-hv.png") no-repeat 0 0/contain;
}

.page1 .diemdanh__list span {
  display: block;
  margin: 0.8333333333vw 0;
  text-align: center;
  font: 0.8333333333vw var(--TUV-Domaine);
  color: #48535b;
}

.page1 .diemdanh__list a {
  width: 4.7916666667vw;
  height: 1.3020833333vw;
  display: block;
  margin: 0 auto;
  background: url("/images/landing/btn2.png") no-repeat 0 0/contain;
  font: 0.7291666667vw var(--TUV-Domaine);
  color: #fff;
  text-align: center;
  line-height: 1.25vw;
}

.page1 .diemdanh__list .active img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.page1 .diemdanh__list .active .img {
  background: url("/images/landing/bg-item1.png") no-repeat 0 0/contain;
}

.page1 .diemdanh__list .active a {
  background: url("/images/landing/btn.png") no-repeat 0 0/contain;
}

.page1 .diemdanh__list .active span {
  color: #e04f14;
}

.page2 {
  height: 47.1875vw;
  padding-top: 7.2916666667vw;
}

.wheel {
  width: 60.6770833333vw;
  height: 30.46875vw;
  margin: 0 auto;
}

.wheel canvas {
  width: 28.5416666667vw;
  height: 28.5416666667vw;
  display: block;
  margin: 0 auto;
  background: url("/images/landing/vongquay.png") no-repeat 0 0/contain;
}

.wheel .spin_button {
  width: 6.25vw;
  height: 7.5vw;
  background: url("/images/landing/arrow.png") no-repeat 0 0/contain;
  position: absolute;
  top: 10.0520833333vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wheel__btn {
  margin-top: -1.5625vw;
  position: relative;
  z-index: 2;
}

.wheel__btn > * + * {
  margin-left: 0.8333333333vw;
}

.wheel__btn li:nth-child(3) {
  margin-left: 13.40625vw;
}

.wheel__btn a, .wheel__btn span {
  width: 10.5729166667vw;
  height: 3.0208333333vw;
  display: block;
  background: url("/images/landing/btn1.png") no-repeat 0 0/contain;
  font: 1.0416666667vw var(--UTMAlbertaHeavy);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.0208333333vw;
}

.page3 {
  height: 56.9791666667vw;
}

.charcter {
  height: 100%;
}

.charcter__select {
  position: absolute;
  top: 39.21875vw;
  right: 13.0208333333vw;
  z-index: 3;
}

.charcter__select li {
  margin: 0 -0.2604166667vw;
  cursor: pointer;
}

.charcter__select .icon {
  width: 6.0416666667vw;
  height: 4.9479166667vw;
  display: block;
  -webkit-transition: background .15s linear;
  -o-transition: background .15s linear;
  -moz-transition: background .15s linear;
  transition: background .15s linear;
}

.charcter__select .icon-1 {
  background: url("/images/landing/ic1.png") no-repeat 0 0/contain;
}

.charcter__select .icon-2 {
  background: url("/images/landing/ic2.png") no-repeat 0 0/contain;
}

.charcter__select .icon-3 {
  background: url("/images/landing/ic3.png") no-repeat 0 0/contain;
}

.charcter__select .icon-4 {
  background: url("/images/landing/ic4.png") no-repeat 0 0/contain;
}

.charcter__select .active .icon-1 {
  background: url("/images/landing/ic1-active.png") no-repeat 0 0/contain;
}

.charcter__select .active .icon-2 {
  background: url("/images/landing/ic2-active.png") no-repeat 0 0/contain;
}

.charcter__select .active .icon-3 {
  background: url("/images/landing/ic3-active.png") no-repeat 0 0/contain;
}

.charcter__select .active .icon-4 {
  background: url("/images/landing/ic4-active.png") no-repeat 0 0/contain;
}

.charcter__select .active span {
  color: #edba5d;
}

.charcter__select span {
  display: block;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 0.9375vw;
}

.charcter__img {
  position: absolute;
  left: 14.1666666667vw;
  z-index: 2;
}

.charcter__img--nhatnguyet {
  width: 51.8229166667vw;
  top: 7.8125vw;
}

.charcter__img--daohoa {
  width: 62.34375vw;
  top: 5.2083333333vw;
}

.charcter__img--ngudoc {
  width: 62.65625vw;
  top: 4.5833333333vw;
}

.charcter__img--tangkiem {
  width: 62.2395833333vw;
  top: -0.9375vw;
}

.charcter__video {
  width: 51.3541666667vw;
  height: 30.2083333333vw;
  padding: 1.3541666667vw;
  background: url("/images/landing/bg-trailer.png") no-repeat 0 0/contain;
  position: absolute;
  top: 8.8541666667vw;
  right: -1.9791666667vw;
}

.page4 {
  height: 61.9791666667vw;
  padding-top: 8.0729166667vw;
}

.box_slider {
  position: relative;
  width: 1364px;
  height: 530px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1600px) {
  .box_slider {
    margin-top: 0vw;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 1440px) {
  .box_slider {
    width: auto;
    margin-top: -5.2083333333vw;
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.dg-container {
  position: relative;
  width: 100%;
  height: 530px;
}

.dg-wrapper {
  width: 945px;
  height: 530px;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px;
}

.dg-wrapper .item {
  width: 100%;
  height: 530px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}

.dg-wrapper .item img {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

.dg-wrapper .item.dg-center img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.dg-wrapper .item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dg-wrapper .item.dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dg-wrapper .item.dg-transition-fast {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dg-container nav span {
  width: 75px;
  height: 109px;
  background: url("/images/landing/next.png") no-repeat 0 0/contain;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.dg-container nav span:hover {
  opacity: 1;
}

.dg-container nav span.dg-next {
  right: 85px;
}

.dg-container nav span.dg-prev {
  left: 85px;
  -webkit-transform: translateY(-50%) rotate(180deg);
     -moz-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
       -o-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.modal .modal-content {
  border: none;
}

.modal .modal-title {
  font: 1.9270833333vw var(--TUV-Domaine);
  color: #0b141b;
  text-transform: capitalize;
  text-align: center;
}

.modal .close {
  position: absolute;
}

.popup-rule .modal-dialog {
  max-width: 66.09375vw;
}

.popup-rule .modal-content {
  width: 100%;
  height: 31.5104166667vw;
  background: url("/images/landing/popup2.png") no-repeat 0 0/contain;
  padding: 5.7291666667vw 1.5625vw 1.3020833333vw 22.1354166667vw;
}

.popup-rule article {
  height: 100%;
  overflow: auto;
}

.popup-rule article::-webkit-scrollbar {
  width: 4px;
}

.popup-rule article::-webkit-scrollbar-thumb {
  background: #888;
}

.popup-rule article::-webkit-scrollbar-track {
  background: #ccc;
}

.popup-rule .close {
  width: 2.9166666667vw;
  height: 2.9166666667vw;
  right: 0;
  top: 2.7604166667vw;
}

.popup-vq .modal-dialog {
  max-width: 38.0208333333vw;
}

.popup-vq .modal-content {
  width: 100%;
  height: 21.6145833333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/landing/popup.png") no-repeat 0 0/contain;
  padding: 4.1666666667vw 3.3854166667vw 1.3020833333vw 1.3020833333vw;
}

.popup-vq .result-vq {
  font-family: var(--TUV-Domaine);
}

.popup-vq .result-vq .img {
  margin: 0.5208333333vw auto;
  max-width: 6.25vw;
}

.popup-vq .result-vq .img img {
  display: block;
  margin: 0 auto;
}

.popup-vq .result-vq h4, .popup-vq .result-vq p {
  margin: 0;
}

.popup-vq .result-vq h4 {
  font-size: 1.40625vw;
  color: #482000;
  text-transform: capitalize;
  text-align: center;
}

.popup-vq .result-vq p {
  color: #8f0000;
  font-size: 1.6666666667vw;
  text-transform: uppercase;
}

.popup-vq .close {
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  right: 0;
  top: 3.4375vw;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.8333333333vw;
  color: #fff;
}
